@import "tailwindcss";

h1.menu-main-heading {
  @apply text-center w-full pt-10 text-xl;
}

.menu-section {
  @apply space-y-16;
}

.menu-heading {
  @apply text-xl tracking-[0.3em] uppercase text-center text-gray-400;
}

hr {
  @apply border-gray-200;
}

.menu-heading-note {
  @apply text-base text-center text-gray-400;
}

.menu-heading + .menu-heading-note {
  @apply -mt-14;
}

.menu-dish {
  @apply space-y-2 text-center text-lg px-8;
}

.menu-title {
  @apply text-2xl font-medium;
}

.menu-subtitle {
  @apply text-lg text-gray-400;
}

.menu-description {
  @apply text-lg mt-4 leading-relaxed text-balance;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

p.foot {
  @apply w-full text-center;
}
